<header id="masthead">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Rooted
                <i class="fa fa-plane" style="font-size:24px;"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="Index.html">Home</a>
                <a class="dropdown-item" href="location.html">Locations</a>
                <a class="dropdown-item" href="translation.html">Dictionary/Translate</a>
                <a class="dropdown-item" href="profile.html">Profile</a>
            </div>
        </div>
        <div class="row">


            <!-- <div class="col-xs-4 col-md-4 col-xl-6">
            <button class="btn" style="color: white">Rooted<i class="fa fa-plane" style="font-size:24px;"></i></button>
          </div> -->

            <div class="col-xs-4 col-md-4 col-xl-6">
                <button type="button" class="btn1 btn-outline-dark my-2 my-sm-0" onclick="googleLogin();">
                    <i class="fab fa-google" style="font-size:36px"></i>Google Login</button>



            </div>
    </nav>



</header>

<div class="wrapper">

    <div id="main-container" class="container">
        <section class="main-section">

            <div class="row">
                <div class="col-xs-6 col-md-6 col-xl-6">
                    <h3 class="headers">My Favorites Places</h3>
                    <div id="emptydiv2">We are trying to have people (once logged in through google) save their favorite choices/points of interest</div>
                </div>
                <div class="col-xs-6 col-md-6 col-xl-6">
                    <h3 class="headers">My Favorite Activities</h3>
                    <div id="emptydiv2">This can be used to incorporate the other left div items in some way, maybe 2 seperate lists of places/
                        things or etc...</div>
                </div>
            </div>










            <br>
            <br>
            <br>
            <br>
            <br>

            <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZYZbJI_suqw9VC2D1u1Us2e1j0f1mFus&callback=initMap">
            </script>
    </div>




    <!-- Footer -->

    <footer class="footer">
        <div class="container text-center">
            <span class="copy">© Rooted</span>
        </div>
    </footer>





    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>